.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        test_user
      .side-header__box__menu
        .side-header__box__menu__new-group
          %i.fa.fa-edit  
        .side-header__box__menu__edit-user
          %i.fa.fa-cog
  .group
    .group__group-name
      グループ名
    .group__latest-message
      こんにちは
    .group__group-name
      test-group
    .group__latest-message
      はじめまして