.flash-box{
  .notice{
    height: 24px;
    background-color: $blue;
    text-align: center;
    color: $white;
  }
  .alert{
    height: 24px;
    background-color: $alert_orange;
    text-align: center;
    color: $white;
  }
}